{% load static%}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
    
    <head>
        
       
        
        <title>HARMONY SOFA</title>
        <link rel="shortcut icon" href="./static/1.jpg">
    </head>

<body>


<div class="main">
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">HARMONY</h2>
        </div>


        


        <div class="menu">
            <table>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <!-- <li><a href="#">ABOUT</a></li> -->
                <li><a href="CATALOGUE SEEING.HTML">CATALOGUE</a></li>
                <li><a href="contact.html">ADDRESS</a></li>
                <div><li><a href="login.html">LOGIN</a></li></div>
                
            </ul>
        </table>
        
        </div>

        <div class="watsapp">
            <table>
                <ul>
                    <li align="right"><a href="https://wa.me/9846043297? text=want%20to%20know%20more%20details"><img src="./static/whatsapp.png" alt="whatsapp logo" width="48px" height="48px" ></a></li>   
                    <li align="right"><a href="https://www.instagram.com/harmony.sofas?igsh=MXFhcnp0ZXpnNjAzNw=="><img src="./static/insta.png" alt="instagram" width="48px" height="48px" ></a></li>
                </ul>
            </table>

        </div>
    </div>
    

    <!-- <div  class="col-lg-8 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="bg-primary text-center p-5">
            <h1 align="right" class="login">LOGIN</h1>
            <form  method="post" action="#">
                               <div class="row g-3">
                    <div class="col-sm-12">
                        <div align="right"  class="username">
                            <label for="username">User Name</label>
                        <input type="text"  id="uname" name="textfield" placeholder=" User Name" required>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div align="right"  class="password">
                            <label for="password">Password</label>
                            <input type="password"  id="pass" name="textfield2" placeholder="Password" pattern="[A-Za-z0-9]{3,9}" required>
                        </div>
                    </div>
                    <div align="right" class=loginbutton>
                        <button class="button"  type="submit"><a href="#"></a>Login</button>
                    </div>
                    <div class="regi" align="right"><strong>    Dont have account?? <button class="button"> <a href="registerindex.html">Register</button></a></strong></td></div>
                </div>
            </form>
        </div>
    </div> -->
    <!-- <div class="form">
        <form align="center" id="form1" name="form1" method="get">
            <table align="left"  width="200" border="2" >
                <tr>
                    <td bgcolor="white" colspan="2">LOGIN</td>
                </tr>
              <tr>
                
                <td bgcolor="white">
                <input type="username" placeholder="username" name="username"  id="username" /></td>
              </tr>
              <tr>
                
                <td bgcolor="white">
                <input  type="password" placeholder="password" name="password" id="password" /></td>
              </tr>
              <tr>
                <td bgcolor="white" colspan="2"><div align="center">
                  <input type="submit" name="button" id="button" value="Login" />
                </div></td>
              </tr>
              <tr>
                <td bgcolor="white" colspan="2">
                
              </tr>
            </table>
          </form> -->
    </div>
<!-- <br><br><br><br><br><br><br><br><br>
    <div class="content">
        <h1>HARMONY SOFAS AND INTERIORS <br></h1>
        <p class="par">opened now <br></p>
    </div> -->
</div> 
</body>
</html>